<h2>Landmark: <%= @landmark.name %></h2>
<h3>Year Completed: <%= @landmark.year_completed %></h3>


<a href="/landmarks/<%= @landmark.id %>/edit">Edit this landmark</a><br>
<a href="/landmarks">See all landmarks</a>